<!DOCTYPE html>
	<html>
		<head>
			<title>{{ page.title }}</title>
			<!-- link to main stylesheet -->
			<link rel="stylesheet" type="text/css" href="/css/main.css">
		</head>
		<body>
			<nav>
	    		<ul>
	        		<li><a href="/">Home</a></li>
		        	<li><a href="/google">Google My Maps</a></li>
	        		<li><a href="/geojson">GeoJSON</a></li>
	        		<li><a href="/blog">Blog</a></li>
	    		</ul>
			</nav>
			<div class="container">

			{{ content }}

			</div><!-- /.container -->
			<footer>
	    		<ul>
            <li><a href="mailto:corvusspatial@gmail.com">email</a></li>
            <li><a href="http://CorvusSpatial.ca">Personal Website</a></li>
				</ul>
			</footer>
		</body>
	</html>
